
####################################################
# This is a template file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

plugin: google.cloud.gcp_compute
projects:
  - [YOUR_PROJECT_HERE]
auth_kind: application
keyed_groups:
  - key: labels
    prefix: label
  - key: project
    prefix: project
  - key: zone
    prefix: zone
compose:
  # set the ansible_host variable to connect with the private IP address without changing the hostname
  ansible_host: name