
####################################################
# This is a template file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

project_id     = "XXXX"
project_number = "XXXX"
slack_token = "XXXX"
